
/* ------ Media Querys ------ */
@media (max-width: 600px){


  .products{
    display: inherit;
    height: auto;
  }

  .product{
    margin-top:auto;
  }

  .features, .testimonials{
    display:inherit;
    /* height:auto; */
  }
}
